name: Tests

on: [push, pull_request]

jobs:
  run_test_site:
    name: py${{ matrix.PYTHON_VERSION }}${{ matrix.LABEL }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      MPLBACKEND: agg
      PIP_SELECTOR: '[tests]'
      PYTEST_ARGS: --pyargs hyperspy_gui_ipywidgets
      PYTEST_ARGS_COVERAGE: --cov=. --cov-report=xml
    strategy:
      fail-fast: false
      matrix:
        PYTHON_VERSION: ['3.9', '3.10', '3.11']
        LABEL: [-release, -RnM]
        PIP_ARGS: [""]
        include:
          - PYTHON_VERSION: '3.8'
            PIP_ARGS: --pre
            LABEL: -pre_release-RnM
          - PYTHON_VERSION: '3.12'
            LABEL: -minimum
          - PYTHON_VERSION: '3.12'
            LABEL: -RnM

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: get repository name
        shell: bash
        run: echo "REPOSITORY_NAME=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: Fetch tags upstream
        if: ${{ github.repository_owner != 'hyperspy' }}
        # Needs to fetch the tags from upstream to get the
        # correct version with setuptools_scm
        run: |
          git remote add upstream https://github.com/hyperspy/${{ env.REPOSITORY_NAME }}.git
          git fetch upstream --tags

      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: ${{ matrix.PYTHON_VERSION }}

      - name: Display version
        run: |
          python --version
          pip --version

      - name: Install HyperSpy (RELEASE_next_major)
        if: contains( matrix.LABEL, 'RnM')
        run: |
          pip install git+https://github.com/hyperspy/hyperspy.git@RELEASE_next_major

      - name: Install HyperSpy (RELEASE_next_patch)
        if: contains( matrix.LABEL, 'RnP')
        run: |
          pip install git+https://github.com/hyperspy/hyperspy.git@RELEASE_next_patch

      - name: Install exSpy
        if: ${{ ! contains( matrix.LABEL, 'minimum') }}
        run: |
          pip install git+https://github.com/hyperspy/exspy.git

      - name: Install
        run: |
          pip install ${{ matrix.PIP_ARGS }} .'${{ env.PIP_SELECTOR }}'

      - name: Run test suite
        run: |
          pytest ${{ env.PYTEST_ARGS }} ${{ env.PYTEST_ARGS_COVERAGE }}

      - name: Upload coverage to Codecov
        if: ${{ always() }} && ${{ env.PYTEST_ARGS_COVERAGE }} 
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
